<%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
    <%= link_to "Register", new_user_registration_path  %>
  </div>
<% end %>
